{% extends 'base.html.twig' %}

{% block title %}New Smartphone{% endblock %}

{% block body %}
    <h1>Create new Smartphone</h1>

    {{ include('smartphone/_form.html.twig') }}

    <a class="btn-primary btn" href="{{ path('smartphone_index') }}">Back to list</a>
{% endblock %}
